body {
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a, h4, .btn-join{
  color: rgb(91,189,173);
}

footer p, .date{
  color: rgb(190,190,190);
}

.btn-join {
  border: 1px solid;
  border-color: rgb(231,231,231);
  border-radius: 5px;
  background-color: white;
  font-size: 0.5em;
  margin-bottom: 30px;
}

.join h6 {
  border-bottom: 1px dashed rgb(238,238,238);
  padding-bottom: 5px;
  margin: 10px 0;
}

.join p {
  font-size: 0.8em;
}

header {
  display: flex;
  flex-direction: column;
}
.header-menu-list {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 110px;
  height: 110px;
}

nav .icon {
  font-size: 28px;
}

nav ul {
  margin: 30px 0;
}

nav ul li {
  margin: 10px 0;
}

.header-photo img {
  width:100%;
}

.header-photo ul {
  display:flex;
  justify-content: space-around;
  background-color: rgb(240,248,248);
  text-align: left;
}

.header-photo li {
  display:flex;
}

.subscribe {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-top : 1px dashed rgb(238,238,238);
  border-bottom : 1px dashed rgb(238,238,238);
  margin: 20px 0;
}
.subscribe span {
  font-size: 2em;
  margin-right: 10px;
    margin-left: 10px;
}
.subscribe-mail {
  display: flex;
}

.subscribe-btn {
  display: flex;
}

.subscribe-btn button {

  border: 1px solid;
  border-color: rgb(231,231,231);
  border-radius: 5px;
  background-color: rgb(234, 234, 234);
}

.subscribe-btn input {

  width: 270px;
}
.subscribe p {
  font-size: 0.8em;
}

.subscribe input {
  margin-left: 15px;
  margin-right: 10px;
}

.subscribe button {
  margin-right: 40px;
  font-size: 0.8em;
}

.content {
  display: flex;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid rgb(228,228,228);
}

footer .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
}

footer .left ul {
  display: flex;
  align-items: center;
}

footer .right {
  display: flex;
  align-items: center;
}

footer .right .icon {
  font-size: 28px;
  color: rgb(152,152,152);
}


footer .left p {
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .content {
    flex-direction: column;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  header {
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.8em;
    align-items: center;
  }

  header .icon {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction:row;
    justify-content: center;
  }

  .join {
    display: none;
  }

  .menu ul {
    display: flex;
    justify-content: center;
  }

  .menu ul li {
    display: flex;
    flex-direction:column;
    text-align: center;
    margin-right: 20px;
  }

  .header-photo ul {
    display: none;
  }
 .subscribe {
   flex-direction: column;
 }

}

@media only screen and (max-width: 768px) and (min-width: 480px) {
  .content {
    flex-direction: row;
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1em;
  }

  .menu {
    display: flex;
    flex-direction:row;
  }

  .join {
    display: none;
  }

  .menu ul {
    display: flex;
    justify-content: center;
  }

  .menu ul li {
    display: flex;
    flex-direction:column;
    text-align: center;
    margin-right: 20px;
  }

  .header-photo ul {
    display: flex;
  }

  .subscribe {
    flex-direction: row;
  }
  .container {
    display: flex;
    flex-direction:column;
  }
  .main {
    height: 80%;
  }

  .menu-desc {
    display: none;
  }

}

@media only screen and (max-width: 1440px) and (min-width: 768px) {
  header {
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    width: 20%;
    font-size: 1em;
  }

  .menu {
    display: flex;
    flex-direction:column;
  }

  .menu ul {
    display: flex;
    flex-direction:column;
  }

  .menu ul li {
    display: flex;
    flex-direction:row;
  }

  .header-photo ul {
    display: flex;
  }

  .container {
    display: flex;
    flex-direction:row;
  }

  .subscribe {
    flex-direction: row;
  }
  .main {
    width: 80%;
  }

  .content {
      flex-direction: row;
  }

  .food-item {
    width: 24%;
  }

  .food-item img {
    width: 100%;
    height: 100%;
  }




}
